<div id="main-content" class="container">
  <div ng-if="myinfoCtrl.signedUp">
    <h1>Your profile information:</h1>
    <h3>Name: {{ myinfoCtrl.user.firstName }} {{ myinfoCtrl.user.lastName }}</h3>
    <h3>Email: {{ myinfoCtrl.user.email }}</h3>
    <h3>Phone: {{ myinfoCtrl.user.phone }}</h3>
    <h3>Favorite Menu Item:<h3>
    <menu-item menu-item="myinfoCtrl.user.item">
    </menu-item>
  </div>
  <div ng-if="!myinfoCtrl.signedUp">
    You have not signed up. <a ui-sref="public.signup">Sign Up Now!</a>
  </div>
</div>
